<div class="container">

  <article>
    <button mat-fab color="warn" aria-label=" icon button with a home icon" (click)="goToAnimal()"> Animal</button>
    <button mat-fab color="warn" aria-label=" icon button with a home icon" (click)="goToPessoa()"> Pessoa</button>
    <button mat-fab color="warn" aria-label=" icon button with a home icon" (click)="goToAddress()"> Address</button>
    <button mat-fab color="warn" aria-label=" icon button with a home icon" (click)="goToProduct()"> Produto</button>
 </article>

</div>
